@page
@model WebApplication3.Pages.CertIIIFurtherTrainingModel
@{
    ViewData["Title"] = "CertIIIFurtherTraining";
}

<div class="container">
    <h1>Further Training</h1>
    <br />
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <p>The National Dog Trainers Federation offers education and training to individuals and organisations. Our broad range of services and training courses suit the needs of domestic dog owners, breeders, local government rangers, veterinary staff, animal welfare personnel, professional trainers and security / law enforcement personnel etc.</p>
            <p>It is our experience that more than 50% of students who complete the Certificate III in Dog Behaviour and Training go on to obtain more advanced training in specialist areas of the canine industry.</p>
            <p>The Certificate III in Dog Behaviour and Training or an equivalent standard of education and / or experience, are prerequisites for the advanced courses run by the NDTF.</p>
            <p>Certificate IV level courses are currently under development and will be coming to you in the near future, so watch this space!</p>
            <p>The NDTF can provide specific training and/or services for organisations and their personnel covering any facet of the canine industry.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-thumbnail" src="~/imgs/2017/06/Order-2726-Image-4-500x420.jpg" />
        </div>
    </div>
</div>

