@page
@model WebApplication3.Pages.CertIIIDistanceLearningCourseModel
@{
    ViewData["Title"] = "CertIIIDistanceLearningCourse";
}


<div class="container">
    <h1>Distance Learning Course</h1>
    <br />
    <h2>DISTANCE LEARNING DOG TRAINER COURSES</h2>
    <p>The National Dog Trainer’s Federation (NDTF) offers online courses for dog trainers outside of Melbourne or for those who prefer self-paced learning to attain their Certificate III in Dog Behaviour and Training. Our course runs over 10 months and involves home-based study via the eLearning website as well as practical training in Melbourne, Sydney, or the Sunshine Coast.</p>
    <br />
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h3>STRUCTURE OF OUR ONLINE TRAINING</h3>
            <br />
            <p>Our distance learning dog training courses are structured conveniently:</p>
            <ul>
                <li>Students access all course materials via the eLearning website</li>
                <li>Students are free to complete the theory-based elements of the course in their own time</li>
                <li>As well as online theory work, our students attend two blocks of practical dog training at one of our kennel facilities in Melbourne, Sydney, or the Sunshine Coast. </li>
                <li>
                    <ul>
                        <li>This practical training provides opportunities for students to consolidate the theory they have covered at home and develop their skills in a hands-on training environment.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h3>PRACTICAL TRAINING</h3>
            <br />
            <p>Block Training sessions focus on the development of practical handling and training skills, and consolidate the theory covered in the course materials. The training is conducted with kennel dogs to provide students with a variety of experience in a challenging but supportive learning environment</p>
        </div>
        <div>
            <br />
            <br />
            <h4>Melbourne Block Training</h4>
            <br />
            <p>NDTF’s Melbourne block training sessions are located in Lysterfield, Victoria. Block 1 in Melbourne runs for eight consecutive days and Block 2 runs for nine. This venue is available to students from all states. Students are responsible for organising their own transport, accommodation, and meals.</p>
            <br />
            <br />
            <h4>Sydney Block Training Sessions</h4>
            <br />
            <p>The Sydney Block Training sessions are located in Dural, near Sydney, NSW. Block Training in Sydney runs for eight consecutive days for both blocks. This venue is available to students from all states. Students are responsible for organising their own transport, accommodation, and meals.</p>
            <br />
            <br />
            <h4>Sunshine Coast Block Training Session</h4>
            <br />
            <p>The Sunshine Coast Block Training sessions are located in Verrierdale, QLD. Block Training in QLD runs for eight consecutive days for both blocks. This venue is available to students from all states. Students are responsible for organising their own transport, accommodation, and meals.</p>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                <h3>ACCOMMODATION AND TRAVEL</h3>
                <br />
                <p>Upon enrolling in our online course for dog trainers, Precise Training will provide students with a list of recommended accommodation venues for each state. These businesses are close to the practical training facilities and provide discounts for all distance learning students.</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12- col-sm-12">
                <h5>Accomodation Sharing</h5>
                <p>Students who would like to share the cost of accommodation and/or transport are invited to contact the course co-ordinator so their details can be passed onto like-minded students. Precise Training assumes no responsibility for these arrangements and all are made at the discretion of the persons involved.</p>
            </div>
            
            <br />
            <br />
            <div>
                <h5><b>Contact Us</b></h5>
                <br />
                <p>To find out more about our online Certificate III in Dog Behaviour and Training course or to enrol today, call us on 1300 664 466 or <a asp-page="./ContactUs">enquire online.</a></p>
            </div>
        </div>
    </div>
</div>

