@page
@model WebApplication3.Pages.CertIIIStudyRequirementsModel
@{
    ViewData["Title"] = "CertIIIStudyRequirements";
}


<div class="container">
    <h1>Study Requirements</h1>
    <br />
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <h2>Distance Learning VS Melbourne Part-Time</h2>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <p>Sometimes it can be difficult to decide if the Melbourne Part Time or Distance Learning study modes are more suited to your particular circumstances. As this course requires a significant commitment, we encourage you to take the time to choose the course that best fits in with your current lifestyle and availability.</p>
            <p>The Melbourne Part Time Course is more suited to those who have spare time available on a frequent basis; as you will need to visit your Home Centre once per week, attend 3 lecture / workshop sessions per month, as well as leaving time for study; you will need to dedicate regular and consistent course time.</p>
            <p>The Distance Learning course is more suited to those who prefer self-paced study and need to condense their course work into more concentrated time periods. If you are considering selecting this option, you will need to attend 2 x eight day blocks of practical training. Refer to the Distance Learning Course Information Booklet for more information.</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <h2>Course Prerequisites</h2>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <p>This course is open to people from all walks of life and the NDTF does not put stringent demands on criteria to participate. Because the NDTF is primarily concerned with education and networking within the canine industry in Australia, we are happy to assist in any way we can, to ensure you a position in the next available course.</p>
            <p>Previous experience with dogs is not essential and you do not have to own your own dog. You will however, require regular access to a friend / family member / neighbours’ dog for training. Certain assessments during the course involve practical training of a dog and you should ensure that you can undertake at least 3 x 30 minutes sessions per week, for a period of approximately 4-5 months.</p>
            <p>The ability to read, write and understand English is also necessary. This requirement is not for our benefit, but for yours. The degree of difficulty in understanding and comprehension would be dramatically affected by an inability to communicate clearly with instructors and other students on the course.</p>
        </div>
    </div>
</div>

