@page
@model WebApplication3.Pages.CertIIIUpcomingCoursesModel
@{
    ViewData["Title"] = "CertIIIUpcomingCourses";
}

<div class="container">
    <h1>Upcoming Courses</h1>
    <br />
    <br />
    <div class="container">
        <br />
        <h2>DISTANCE LEARNING COURSE DATES</h2>
        <ul>
            <li>
                <p>DL1946 – Commencing 12th April 2019</p>
                <p>Melbourne: Block Training Positions available</p>
                <p>Sydney: Full</p>
                <br />
                <p>Queensland: Full</p>
                <br />
                <br />
            </li>
            <li>
                <p>DL1947 – Commencing 26th July 2019</p>
                <p>Melbourne: Block Training Positions available</p>
                <p>Sydney: Full</p>
                <br />
                <p>Queensland: Filling Quickly</p>
                <br />
                <br />
            </li>
            <li>
                <p>DL1947 – Commencing 4th October 2019</p>
                <p>Melbourne: Block Training Positions available</p>
                <p>Sydney: Block Training Positions available</p>
                <br />
                <p>Queensland: Block Training Positions available</p>
            </li>
        </ul>
        <br />
        <br />
        <h2>MELBOURNE PART TIME COURSE DATES</h2>
        <br />
        <ul>
            <li>Course #63 Commencing June 1st 2019</li>
            <li>Course #64 Commencing September 7th 2019</li>
        </ul>
    </div>
</div>

