@page
@model WebApplication3.Pages.CertIIIMelbourneLocalCourseModel
@{
    ViewData["Title"] = "CertIIIMelbourneLocalCourse";
}

<div class="container">
    <h1>Melbourne Local Course</h1>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <p>The Melbourne Part-time (Local) course runs over 8 months and is suitable for those living in Melbourne. Students are required to complete one full weekend of lectures per month at our Bayswater office, as well as one practical workshop per month at our kennel facility in Lysterfield.</p>
            <p>In addition to this, our Melbourne students are required to attend an obedience training club once a week. This is what we refer to as a ‘Home Centre’ and these NDTF approved businesses, conduct commercial dog training classes. These organisations mentor our students and provide opportunities for them to develop their skills, in a ‘working’ environment.</p>
            <p>The course is conducted outside of normal business hours and is designed to work around people that are currently in full time employment.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-thumbnail img" src="~/imgs/2016/12/5374541709_35ec97648a_b-700x350.jpg" />
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <h4>Practical Training Requirements</h4>
                <p>A dog trainer course would not be complete without the inclusion of hands-on practical training. There is only a certain amount you can learn through reading and watching DVDs. Precise Training provides students with an extensive opportunity to train many different dogs of all ages, breeds and temperaments, in a safe and supportive environment.</p>
                <p>Practical workshops are held on a monthly basis and are generally located at Wellington Park Kennels in Lysterfield. These are a compulsory requirement of the course and you will generally be given a selection of 2 dates to choose from. These dates are available well in advance, to assist you in planning your time.</p>
                <h4>Home Centres</h4>
                <p>Students are required to attend 100 hours of practical training during their course. Practical workshops at the kennel facility are included in this total. The remaining hours are to be completed at your Home Centre. Precise Training allocates all students to a Home Centre at the commencement of their course. Centres are selected according to proximity of your home, your past experience, placement availability, etc.</p>
                <p>There may be instances where students are permitted to source their own Home Centre. This is often the case if a student is currently working / training / volunteering at an Obedience School / Club, however ALL Home Centres must be approved by Precise Training prior to attending. If you wish to request an alternative centre, please provide your Course Co-ordinator with the relevant details.</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <p>To ensure that students receive a well-rounded education, Home Centres MUST be able to provide / facilitate the following;</p>
                <br />
                <ul>
                    <li>Allow students to participate in class once the appropriate theory is covered (e.g. assist clients, instruct basic obedience and socialisation exercises, etc.)</li>
                    <li>Cater for a variety of dog breeds</li>
                    <li>Cater for varying ages, from puppies, through to adults</li>
                    <li>Cover training from puppy classes, through to advanced obedience</li>
                    <li>Address behaviour problems / issues</li>
                    <li>Have the resources and expertise to mentor students</li>
                    <li>Preferably offer socialisation classes</li>
                </ul>
                <br />
                <p>In order to reach your 100 hours, you will need to attend your Home Centre on a weekly basis. If you are sick, on holidays or cannot attend for any other reason, you are required to make up the hours on another day or at another location.</p>
            </div>
        </div>
    </div>

