@page
@model WebApplication3.Pages.FindATrainerModel
@{
    ViewData["Title"] = "FindATrainer";
}

<div class="container">
    <h1>FindATrainer</h1>
    <br />
    <h2>Welcome to NDTF Trainer Locator</h2>
    <p>The National Dog Trainers Federation looks to promote local trainers and businesses within the dog training industry. All associates found on this site and our supporting digital platforms, are certified trainers, assessors and professional that have been approved by the NDTF, ensuring all services provided are trustworthy and quality.</p>
    <p>FOR TRAINERS: Follow the link below to download our current Trainer Application Form:</p>
    
</div>

