@page
@model WebApplication3.Pages.GeneralOverviewModel
@{
    ViewData["Title"] = "GeneralOverview";
}

<div class="container">
    <h1>General Overview</h1>
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <h2>Who are the National Dog Trainers Federation?</h2>
            <p>The <a asp-page="./Index">National Dog Trainers Federation</a> (NDTF) is the National representative body in Australia for dog trainers from all fields. The Federation was established in 1993 in response to the recognised need for a representative and educational organisation for the dog training industry.</p>
            <p>Working together with members across all sectors to create an Australia wide professional community, the NDTF actively raises and enhances practices and ethics within the industry. With <a asp-page="./CertIIICourseContent">certified training courses</a> based on the latest scientific research and industry concerns and issues, the NDTF offers the highest standard of ongoing professional dog training opportunities.</p>
            <p><a asp-page="./AimsOfTheFederation">Membership to the Federation</a> allows dog trainers to connect with up to date industry issues, professional development opportunities, and community support. Completion of the NDTF government accredited courses mean formal recognition and accreditation across both the public and your peers in your area/s of expertise. The active participation of members in ongoing education is beneficial not only for personal and professional confidence and wellbeing, but also encourages the sharing of knowledge amongst the community.</p>
            <p>The NDTF exists as a comprehensive industry organisation, representing trainers of obedience dogs, sporting dogs, gun dogs, law enforcement dogs, detector and quarantine dogs, search and rescue and behaviour consultants. The NDTF promotes and provides ongoing education in the many specialist fields of dog behaviour and training.</p>
            <p>The NDTF aims to provide a channel of communication for all dog trainers, resulting in ongoing education and mutual support. As a gateway to the broader context of industry issues, the Federation acts as an adviser to the Government, (State, Federal and Local), industry as well as the private sector.</p>
            <p>The goal of the Federation is to encourage trainers to work together to promote higher levels of professionalism, integrity and communication. If you would like more information on the range of benefits to membership, or to enquire about our ongoing professional development opportunities, we are here to help.</p>
            <p>Contact us today on <b>1300 664 466 / 1300 664 466</b> or <a asp-page="./ContactUs">enquire online</a> to find out more about the application process.</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <img src="~/imgs/2016/12/downward-dog-2-400x600.jpg" />
        </div>
    </div>
</div>